@import '@fontsource/quintessential';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0e0017;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0017;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

:focus-visible {
  outline: 2px solid #8a1cc9; /* change color and size as needed */
}
